@media only screen and (max-width: 768px) {
    .myProfile {
        flex-direction: column;
    }
    .myPagePost {
        width: 90% !important;
    }
    .myPagePostImage {
        width: 100% !important;
    }
    .myPageListItem {
        padding-left: 0 !important;
    }
    .listImage {
        max-width: 95% !important;
        margin: 0 auto !important;
    }
}