@media(max-width: 768px) {
  .postPageName {
    font-size: 1.5rem;
  }
  .postPageTitle {
    font-size: 1.25rem !important;
  }
  .postPageDescription {
    font-size: 0.9rem !important;
  }
  .Icon {
    font-size: 1.5rem !important;
  }

  .postText {
    padding: 1rem !important;
  }
  .postWriterImage {
    width: 90px !important;
    height: 90px !important;
  }
}
