@media only screen and (max-width: 768px) {
  .postPageName {
    font-size: 1.5rem;
  }
  .postPageTitle {
    font-size: 1.25rem !important;
  }
  .postPageDescription {
    font-size: 0.75rem !important;
  }
  .editIcon {
    font-size: 2rem !important;
  }

  .postText {
    padding: 1rem !important;
  }
}
